$background: #F5F5F5;
$blue: #182844;
$yellow: #F6A635;
$border-radius:8px;
$border-color:#8C8D8E;

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
  position: relative;
  margin: 0;
  padding-bottom: 15rem;
  min-height: 100%;
  background-color: #F2F3F5;
  font-family: 'Lato';
}

.fa-btn {
    margin-right: 6px;
}
.panel-heading{
  text-align: center;
}
h2{
  margin-top: 0;
  margin-bottom:15px;
}
h3{
  background-color:rgba(245, 245, 245, 0.68);
  padding:8px 15px;
}
h3 span.list-toggle{
  font-size:80%;
}
.list-group li{
  background-color:rgba(245, 245, 245, 0.68);
}
.navbar{
  z-index: 10;
}
label{
  margin-top:10px;
}
#map{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.find-form{
  padding-top: 1em;
}

.navbar{
  border-bottom:2px solid #747576;
  .nav{
    li{
      a{
        color:$blue;
        font-size: 16px;
      }
    }
  }
}

.navbar-brand{
  padding:6px;
  img{
    float:left;
  }
  p{
    float:right;
    display: block;
    line-height: 36px;
    margin-left:10px;
  }
}

.btn{
  background-color: #D2D3D4;
  border:1px solid $border-color;
  padding:0.2em 1em;
  border-radius: $border-radius;
  text-align: center;
  color:$blue;
  &:hover{
    background-color: $blue;
    color:white;
    .b{
      color:white;
    }
  }
}

.home{
  .panel{
    background-color: $background;
    text-align: center;
    padding-bottom:1.5em;
    .btn{
      font-size: 1.5em;
    }
  }
}

.y{
  color: $yellow;
}

.b{
  color:$blue;
}

footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $yellow;
  z-index: 10;
  .scroll-bottom{
    text-align: center;
    margin-bottom:0.25em;
    i{
      font-size: 2.5em;
    }
  }
  .bottom-links{
    padding-bottom:1em;
    .col-md-4{
      text-align: center;
      border-right:1px solid $blue;
      ul{
        margin-left:0;
        li{
          list-style: none;
          text-align: left;
          a{
            color: $blue;
          }
        }
      }
      &:last-child{
        border: 0;
      }
    }
  }
}

.sell-house{
  h1,h2{
    text-align: left;
  }
  .btn{
    font-size: 1.3em;
  }
  .form-group{
    clear:both;
    label,input,select{
      float:left;
    }
    label{
      width:40%;
      color:$blue;
    }
    input, select{
      width:60%;
      margin-bottom:1.5em;
      border-radius: $border-radius;
      border-color:$border-color;
    }
  }
}

.my-houses{
  table{
    width:100%;
    tr{
      border-bottom:1px solid $border-color;
      td,th{
        padding:1.5em;
      }
      &:last-child{
        border-bottom:transparent;
      }
    }
  }
}
